.signin-container {
  font-size: 16px;
}

.signin-inner {
  padding: 15px;
}

.section-signup-input {
  margin: 0 20%;
}

p.signin-para {
  text-align: center;
  padding: 5px;
  font-size: 12px;
}

.btn-signin-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-signin{
  padding: 10px;
  background-color: #04aa6d;
  border: none;
  border-radius: 5px;
}

.btn-signin:hover{
  background-color: #0b9462;
}

.btn-signin a{
  color: #000;
  text-decoration: none;
}

.login-text {
  width: 100%;
  border-bottom: 2px solid white;
  line-height: 30px;
  width: 100%;
  font-weight: bolder;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}

.form-box {
  margin-top: 10vh;
  opacity: 80%;
  background: black;
  padding-right: 80px;
  padding-left: 80px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
}

.login-icon {
  display: flex;
  align-items: center;
  margin-right: 5px;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .signin-container {
    font-size: 20px;
    height: 77vh;
    margin: 5% 15%;
  }

  .signin-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    text-align: center;
  }
}
