.category-container {
  background-color: aliceblue;
  padding: 10px;
}

.cat-cont-row {
  position: relative;
  width: 90%;
  max-width: 800px;
  margin: 35px auto;
}

.cat-cont-row img {
  vertical-align: middle;
  height: 250px;
  width: 100%;
}

.cat-cont-row:hover {
  transform: rotateX(20deg);
}
.cat-cont-row .text-content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
    .category-container {
        height: 87vh;
    }

  .cat-cont-first-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
  }

  .cat-cont-second-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
  }
}

@media screen and (min-width: 992px) {
    .cat-cont-first-row {
        width: 950px;
        margin: 0 auto;
    }
    .cat-cont-second-row {
        width: 950px;
        margin: 0 auto;
    }
}
