.title-logo {
  background: #04aa6d;
  width: 100%;
  padding: 10px;
}

.title-logo a {
  display: flex;
  text-decoration: none;
  color: #000;
  justify-content: center;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 14px;
  margin-bottom: 5px;
}
.nav-link a {
  text-decoration: none;
  margin-left: 8px;
  color: #ffffff;
}

.signin-cart-btn {
  display: flex;
  align-items: baseline;
  font-size: 16px;
}

.signin-cart-btn p {
  margin: 10px;
}

.login-container {
  width: 65%;
  position: absolute;
  top: 15%;
}

.login-inner {
  width: 100%;
  display: inline-block;
  padding: 8px 16px;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
  -webkit-box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
  -moz-box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
}

.btn-close {
  float: right;
  font-size: 30px;
  color: #04aa6d;
}

.login-text {
  width: 100%;
  border-bottom: 2px solid white;
  line-height: 30px;
  width: 100%;
  font-weight: bolder;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}
.form-box {
  margin-top: 10vh;
  opacity: 80%;
  background: black;
  padding-right: 80px;
  padding-left: 80px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
}

.login-icon {
  margin-right: 5px;
  background-color: #002b64;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}
.login-icon:hover {
  color: #0d6efd;
  border: 2px solid #ec319e;
}

.login-icon a {
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 992px) {
  .navbar {
    display: flex;
    width: 968px;
  }
}
